@use '../abstracts/variables' as vars;

::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: vars.$accent-primary-color;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: vars.$accent-primary-hover-color;
}

*::-webkit-scrollbar-thumb:active {
  background: vars.$accent-primary-active-color;
}

*::-webkit-scrollbar-corner {
  background: vars.$background-secondary-color;
}
