.input,
.textarea {
  width: 100%;
  padding: 12px 14px;
  border-radius: 16px;
  background-color: $background-tertiary-color;
  border: 1px solid $background-secondary-color;
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;

  &.invalid {
    border-color: $input-invalid-border-color;
    background-color: $input-invalid-background-color;
  }
}

.textarea {
  min-height: 108px;
  resize: none;
}
