.root {
  padding: 16px 20px;
  background-color: #f8f6f3;
  border-radius: 16px;
  color: $text-color;
  height: 200px;
  min-height: 120px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-between;

  @media (max-width: 1200px) {
    grid-column: span 2;
  }

  @media (max-width: 768px) {
    grid-column: span 1;
    grid-row: span 1;
  }
}

