.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 100px;
  background-color: $background-tertiary-color;
  color: $text-color;
  @include typography-text-s;
}

.bars {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  height: 12px;
}

.bar {
  width: 4px;
  background-color: $background-secondary-color;
  border-radius: 3px;
}

.barShort {
  height: 6px;
}

.barMedium {
  height: 9px;
}

.barTall {
  height: 12px;
}

.barFilled {
  background-color: $success-color;
}

.barEmpty {
  opacity: 0.4;
}

.badgeBeginner {
  .barFilled {
    background-color: $success-color;
  }
}

.badgeIntermediate {
  .barFilled {
    background-color: $warning-color;
  }
}

.badgeAdvanced {
  .barFilled {
    background-color: $error-color;
  }
}
