.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.controls {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(376px, 1fr));
  gap: 12px;

  .createButton {
    text-wrap: nowrap;
    grid-column: 3;
    max-height: 50px;

    @media (max-width: 992px) {
      grid-column: 2;
      width: 50%;
      justify-self: flex-end;
    }

    @media (max-width: 800px) {
      width: 100%;
      grid-column: 2;
    }
    @media (max-width: 576px) {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(376px, 1fr));
  gap: 20px;
}

.cardWrapper {
  position: relative;
}

.editButton {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: $text-inverted-color;
  width: 32px;
  height: 32px;
  padding: 8px;
}

.empty {
  @include typography-text-m;
  color: $c-mp-text-placeholder;
  text-align: center;
  padding: 32px 0;
}
