.card {
  display: flex;

  @media (max-width: 992px) {
    flex-direction: column;
  }

  &__imageSection {
    flex: 0 0 55%;
    overflow: hidden;
    display: flex;
    aspect-ratio: 4/3;

    @media (max-width: 992px) {
      flex: none;
      width: 100%;
      aspect-ratio: unset;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;

    @media (max-width: 992px) {
      height: auto;
    }
  }

  &__contentSection {
    flex: 1;
    padding: 32px;
    display: flex;
    flex-direction: column;
    background-color: $background-tertiary-color;
    border-radius: 24px;
    justify-content: space-between;

    &__header {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      padding: 24px;
      gap: 20px;
    }
  }

  &__title {
  }

  &__subtitle {
    color: $accent-secondary-color;
    @include typography-text-l-semibold;
  }

  &__buttonContainer {
    display: flex;
    gap: 8px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
