.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 201;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 12px 12px 0;
  padding: 12px;
  border-radius: 12px;
  @include bg-color($background-tertiary-color);

  &_menuOpen {
    margin-bottom: 0;
    border-radius: 12px 12px 0 0;
  }
}

.logo {
  font-family: 'Roboto Condensed';
  font-weight: 900;
  font-size: 28px;
  line-height: 1.1;
}

.links {
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Manrope';

  @media (max-width: 768px) {
    display: none;
  }
}

.burgerWrap {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.desktopActions {
  @media (max-width: 768px) {
    display: none;
  }
}

.button {
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  padding: 17px 39px;
}

.menuPanel {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 12px;
  max-height: 0;
  overflow: hidden;
  border-radius: 0 0 12px 12px;
  @include bg-color($background-tertiary-color);
  transition: max-height $menu-transition-duration ease;

  @media (min-width: 769px) {
    display: none;
  }

  &_open {
    max-height: $menu-panel-max-height;
  }
}
