.root {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 36px 36px 0 0;
  @include bg-color($footer-background-color);
  @include text-color($footer-text-color);
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: $footer-content-max-width;
  padding: 64px 32px 36px;
  font-size: 20px;

  @media (max-width: 768px) {
    padding: 64px 20px 36px;
    flex-direction: column;
    gap: 28px;
  }
}

.title {
  font-size: 16px;
  @include text-color($footer-title-text-color);
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &List {
    display: flex;
    gap: 12px;
  }
}

.social {
  background-color: $footer-socials-background-color;
  border-radius: 4px;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  width: 100%;
  height: 100%;
}

.warning {
  font-size: 12px;
  @include text-color($footer-text-color);
  max-width: 240px;
}
