@use '@common-styles/index';

body {
  max-width: 1400px;
  margin: 0 auto;
}

main {
  margin-top: 176px;
  min-height: calc(55vh - 148px);
}

section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &.filled {
    width: 100%;
    max-width: $filled-section-max-width;
    border-radius: $filled-section-border-radius;

    &.primary {
      background-color: $accent-primary-color;
      color: $text-inverted-color;
    }

    &.secondary {
      background-color: $accent-secondary-color;
      color: $text-inverted-color;
    }
  }
}

@media (max-width: 768px) {
  main {
    margin-top: 127px;
  }
}
