$text-color: #272727;
$text-inverted-color: #fff;

$accent-primary-color: #41634a;
$accent-primary-hover-color: #557c5e;
$accent-primary-active-color: #334e3a;
$accent-secondary-color: #755345;
$background-primary-color: #f9f4f0;
$background-secondary-color: #efe9e3;
$background-tertiary-color: #ffffff;

$button-border: 1px solid;
$button-primary-background-color: #0c0d0d;
$button-primary-text-color: $text-inverted-color;
$button-primary-border: $button-border transparent;
$button-secondary-background-color: transparent;
$button-secondary-text-color: #000;
$button-secondary-border: $button-border #000;
$button-tertiary-background-color: #2012ea;
$button-tertiary-text-color: $text-inverted-color;
$button-tertiary-border: $button-border transparent;

$filled-section-max-width: 1400px;
$filled-section-border-radius: 36px;
$filled-section-text-color: $text-inverted-color;
$filled-section-primary-bg-color: $accent-primary-color;
$filled-section-secondary-bg-color: $accent-secondary-color;

$tabs-padding: 8px 20px;
$tabs-border-radius: 100px;
$tabs-hover-background-color: $accent-primary-hover-color;
$tabs-active-background-color: $accent-primary-active-color;
$tabs-inactive-background-color: transparent;
$tabs-text-color: $text-inverted-color;

$footer-content-max-width: 1200px;
$footer-content-padding: 64px 0 36px;
$footer-background-color: #19191b;
$footer-title-text-color: #b0b2b6;
$footer-text-color: #fff;
$footer-socials-background-color: #313235;

$backdrop-fade-duration: 0.25s;
$backdrop-overlay-color: rgba(0, 0, 0, 0.5);

$burger-transition-duration: 0.25s;
$menu-transition-duration: 0.25s;
$menu-panel-max-height: 500px;

$error-color: #ff6272;
$success-color: #5ef381;
$warning-color: #ffd967;

$input-invalid-border-color: #dc3545;
$input-invalid-focus-color: #dc3545;
$input-invalid-background-color: #fff3f4;

$input-border-color: #e0e0e0;
$input-background-color: #ffffff;
$card-dark-bg-color: #19191b;
$card-light-bg-color: #ffffff;
$urls-color: #2012ea;

$breakpoint-desktop-md: 992px;
$breakpoint-mobile-lg: 768px;
$breakpoint-mobile-sm: 576px;

@mixin export-css-variables {
  --text-color: #{$text-color};
  --text-inverted-color: #{$text-inverted-color};
  --accent-primary-color: #{$accent-primary-color};
  --accent-primary-hover-color: #{$accent-primary-hover-color};
  --accent-primary-active-color: #{$accent-primary-active-color};
  --accent-secondary-color: #{$accent-secondary-color};
  --background-primary-color: #{$background-primary-color};
  --background-secondary-color: #{$background-secondary-color};
  --background-tertiary-color: #{$background-tertiary-color};
  --error-color: #{$error-color};
  --success-color: #{$success-color};
  --warning-color: #{$warning-color};
}

// ================== New variables ================== //

// === Fonts ===
$abstract-font-family-roboto-flex: 'Roboto Flex', sans-serif;
$abstract-font-family-manrope: 'Manrope', sans-serif;

$font-family-header: $abstract-font-family-roboto-flex;
$font-family-body: $abstract-font-family-manrope;

// H1
$font-weight-header-1: 700;
$line-height-header-1: 100%;

$font-size-header-1-desktop: 68px;
$font-size-header-1-tablet: 68px;
$font-size-header-1-mobile: 32px;

// H2
$font-weight-header-2: 700;
$line-height-header-2: 110%;

$font-size-header-2-desktop: 64px;
$font-size-header-2-tablet: 64px;
$font-size-header-2-mobile: 32px;

// H3
$font-weight-header-3: 600;
$line-height-header-3: 110%;

$font-size-header-3-desktop: 44px;
$font-size-header-3-tablet: 44px;
$font-size-header-3-mobile: 28px;

// H4
$font-weight-header-4: 600;
$line-height-header-4: 120%;

$font-size-header-4-desktop: 28px;
$font-size-header-4-tablet: 32px;
$font-size-header-4-mobile: 24px;

// Text L
$font-weight-text-l: 400;
$line-height-text-l: 140%;
$font-size-text-l: 20px;

// Text L Semibold
$font-weight-text-l-semibold: 600;
$line-height-text-l-semibold: 140%;
$font-size-text-l-semibold: 20px;

// Text M
$font-weight-text-m: 400;
$line-height-text-m: 140%;
$font-size-text-m: 16px;

// Text M Semibold
$font-weight-text-m-semibold: 600;
$line-height-text-m-semibold: 140%;
$font-size-text-m-semibold: 16px;

// Text S
$font-weight-text-s: 400;
$line-height-text-s: 140%;
$font-size-text-s: 12px;

// Text XS
$font-weight-text-xs: 400;
$line-height-text-xs: 140%;

$font-size-text-xs: 10px;

// Colors

// === Neutral ===
// Base
$c-neutral-0: #ffffff;
$c-neutral-50: #f9f9f9;
$c-neutral-100: #f3f3f4;
$c-neutral-150: #d7d8da;
$c-neutral-200: #cacbce;
$c-neutral-300: #b0b2b6;
$c-neutral-400: #96989e;
$c-neutral-500: #7c7e85;
$c-neutral-600: #63656b;
$c-neutral-700: #4a4c50;
$c-neutral-800: #313235;
$c-neutral-850: #252628;
$c-neutral-900: #19191b;
$c-neutral-950: #0c0d0d;
$c-neutral-1000: #000000;

// Derivable
// 0
$c-neutral-d-0-0: rgba($c-neutral-0, 0.01);
$c-neutral-d-0-20: rgba($c-neutral-0, 0.2);
$c-neutral-d-0-32: rgba($c-neutral-0, 0.32);
$c-neutral-d-0-48: rgba($c-neutral-0, 0.48);
$c-neutral-d-0-52: rgba($c-neutral-0, 0.52);
$c-neutral-d-0-72: rgba($c-neutral-0, 0.72);
$c-neutral-d-0-80: rgba($c-neutral-0, 0.8);

// 600
$c-neutral-d-600-0: rgba($c-neutral-600, 0.01);
$c-neutral-d-600-4: rgba($c-neutral-600, 0.04);
$c-neutral-d-600-8: rgba($c-neutral-600, 0.08);
$c-neutral-d-600-12: rgba($c-neutral-600, 0.12);
$c-neutral-d-600-16: rgba($c-neutral-600, 0.16);
$c-neutral-d-600-20: rgba($c-neutral-600, 0.2);
$c-neutral-d-600-24: rgba($c-neutral-600, 0.24);
$c-neutral-d-600-32: rgba($c-neutral-600, 0.32);
$c-neutral-d-600-36: rgba($c-neutral-600, 0.36);
$c-neutral-d-600-40: rgba($c-neutral-600, 0.4);
$c-neutral-d-600-44: rgba($c-neutral-600, 0.44);

// 800
$c-neutral-d-800-32: rgba($c-neutral-800, 0.32);
$c-neutral-d-800-52: rgba($c-neutral-800, 0.52);
$c-neutral-d-800-72: rgba($c-neutral-800, 0.72);

// === Brand ===
// - Green
$c-b-green-50: #f3f7f3;
$c-b-green-100: #e1ece2;
$c-b-green-200: #c5d7c8;
$c-b-green-300: #9fbba4;
$c-b-green-400: #749a7c;
$c-b-green-500: #557c5e;
$c-b-green-600: #41634a;
$c-b-green-700: #334e3a;
$c-b-green-800: #2a3f30;
$c-b-green-900: #233429;
$c-b-green-950: #131d16;

// - Beige
$c-b-beige-50: #f8f6f3;
$c-b-beige-100: #eae5db;
$c-b-beige-200: #d4c8b3;
$c-b-beige-300: #bda88b;
$c-b-beige-400: #ad9371;
$c-b-beige-500: #a68467;
$c-b-beige-600: #8c6750;
$c-b-beige-700: #755345;
$c-b-beige-800: #61443c;
$c-b-beige-900: #513a34;
$c-b-beige-950: #2d1d1a;

// - CRM
$c-b-crm-0: #f3f3f6;
$c-b-crm-50: #e9e7fd;
$c-b-crm-100: #d2d0fb;
$c-b-crm-200: #bcb8f9;
$c-b-crm-300: #a6a0f7;
$c-b-crm-400: #4d41ee;
$c-b-crm-500: #2012ea;
$c-b-crm-600: #1a0ebb;
$c-b-crm-700: #130b8c;
$c-b-crm-800: #0d075e;
$c-b-crm-850: #0a0546;
$c-b-crm-900: #06042f;
$c-b-crm-950: #030217;

// Derivable
$c-b-crm-d-500-2: rgba($c-b-crm-500, 0.02);
$c-b-crm-d-500-4: rgba($c-b-crm-500, 0.04);
$c-b-crm-d-500-8: rgba($c-b-crm-500, 0.08);
$c-b-crm-d-500-12: rgba($c-b-crm-500, 0.12);
$c-b-crm-d-500-20: rgba($c-b-crm-500, 0.2);
$c-b-crm-d-500-32: rgba($c-b-crm-500, 0.32);
$c-b-crm-d-500-52: rgba($c-b-crm-500, 0.52);
$c-b-crm-d-500-72: rgba($c-b-crm-500, 0.72);
$c-b-crm-d-500-80: rgba($c-b-crm-500, 0.8);

// === Status ===
$c-status-red: #ff3b30;
$c-status-orange: #ffa100;
$c-status-yellow: #ffd000;
$c-status-green: #57b69b;

// Derivable
// Red
$c-status-red-d-2: rgba($c-status-red, 0.01);
$c-status-red-d-4: rgba($c-status-red, 0.04);
$c-status-red-d-8: rgba($c-status-red, 0.08);
$c-status-red-d-12: rgba($c-status-red, 0.12);
$c-status-red-d-20: rgba($c-status-red, 0.2);
$c-status-red-d-32: rgba($c-status-red, 0.32);
$c-status-red-d-52: rgba($c-status-red, 0.52);
$c-status-red-d-72: rgba($c-status-red, 0.72);
$c-status-red-d-80: rgba($c-status-red, 0.8);

// Orange
$c-status-orange-d-2: rgba($c-status-orange, 0.02);
$c-status-orange-d-4: rgba($c-status-orange, 0.04);
$c-status-orange-d-8: rgba($c-status-orange, 0.08);
$c-status-orange-d-12: rgba($c-status-orange, 0.12);
$c-status-orange-d-20: rgba($c-status-orange, 0.2);
$c-status-orange-d-32: rgba($c-status-orange, 0.32);
$c-status-orange-d-52: rgba($c-status-orange, 0.52);
$c-status-orange-d-72: rgba($c-status-orange, 0.72);
$c-status-orange-d-80: rgba($c-status-orange, 0.8);

// Yellow
$c-status-yellow-d-2: rgba($c-status-yellow, 0.02);
$c-status-yellow-d-4: rgba($c-status-yellow, 0.04);
$c-status-yellow-d-8: rgba($c-status-yellow, 0.08);
$c-status-yellow-d-12: rgba($c-status-yellow, 0.12);
$c-status-yellow-d-20: rgba($c-status-yellow, 0.2);
$c-status-yellow-d-32: rgba($c-status-yellow, 0.32);
$c-status-yellow-d-52: rgba($c-status-yellow, 0.52);
$c-status-yellow-d-72: rgba($c-status-yellow, 0.72);
$c-status-yellow-d-80: rgba($c-status-yellow, 0.8);

// Green
$c-status-green-d-2: rgba($c-status-green, 0.02);
$c-status-green-d-4: rgba($c-status-green, 0.04);
$c-status-green-d-8: rgba($c-status-green, 0.08);
$c-status-green-d-12: rgba($c-status-green, 0.12);
$c-status-green-d-20: rgba($c-status-green, 0.2);
$c-status-green-d-32: rgba($c-status-green, 0.32);
$c-status-green-d-52: rgba($c-status-green, 0.52);
$c-status-green-d-72: rgba($c-status-green, 0.72);
$c-status-green-d-80: rgba($c-status-green, 0.8);
///

// === UI ===
// Main Page
$c-mp-accent-primary: $c-b-green-600;
$c-mp-accent-secondary: $c-b-beige-700;

// Text
$c-mp-text-headers: $c-neutral-900;
$c-mp-text-body: $c-neutral-800;
$c-mp-text-headers-inverted: $c-neutral-0;
$c-mp-text-body-inverted: $c-neutral-0;

$c-mp-text-placeholder: $c-neutral-500;
$c-mp-text-urls: $c-b-crm-500;

// Background
$c-mp-bg-body: $c-b-beige-50;

$c-mp-bg-card-light: $c-neutral-0;
$c-mp-bg-card-dark: $c-neutral-900;
$c-mp-bg-card-accent: $c-mp-accent-primary;

$c-mp-bg-section-primary: $c-mp-accent-primary;
$c-mp-bg-section-secondary: $c-mp-accent-secondary;

$c-mp-bg-actions-primary: $c-neutral-900;
$c-mp-bg-actions-secondary: $c-neutral-950;
$c-mp-bg-actions-accent: $c-mp-accent-primary;

$c-mp-bg-accent-primary-hover: $c-b-green-500;
$c-mp-bg-accent-primary-active: $c-b-green-700;

$c-mp-bg-input-readOnly: $c-neutral-100;

// === Components ===
// Tags
$c-tag-color: $c-neutral-1000;
$c-tag-bg-1: $c-b-green-50;
$c-tag-bg-2: $c-b-green-100;
$c-tag-bg-3: $c-b-green-200;
$c-tag-bg-4: $c-b-beige-100;
$c-tag-bg-5: $c-b-beige-200;
$c-tag-bg-6: $c-b-crm-100;
$c-tag-bg-7: $c-b-crm-200;
$c-tag-bg-8: $c-b-crm-300;

// === LeftBar (content layout) ===
$left-bar-padding: 28px;
$left-bar-inner-gap: 10px;
$left-bar-border-radius: 20px;
$content-with-left-bar-gap-desktop: 20px;
$content-with-left-bar-gap-mobile: 10px;
