.scroll {
  padding: 0 32px;
  width: fit-content;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 576px) {
    padding: 0 20px;
    width: 100%;
  }
}

.list {
  display: flex;
  gap: 9px;
  @media (max-width: 768px) {
  }
}

.item {
  flex-shrink: 0;
}

.button {
  padding: $tabs-padding;
  @include typography-text-m-semibold;
  color: $tabs-text-color;
  background-color: $tabs-inactive-background-color;
  border-radius: $tabs-border-radius;
  transition: 0.3s ease;

  &:hover {
    background-color: $tabs-hover-background-color;
  }

  &_active {
    background-color: $tabs-active-background-color;
  }

  &_disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.variant {
  &--secondary {
    .button {
      background-color: transparent;
      color: $text-color;
      opacity: 0.5;
      transition: 0.3s ease;

      &:hover {
        opacity: 0.9;
      }

      &_active {
        background-color: transparent;
        opacity: 1;
      }
    }
  }
}
