.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description {
  @include typography-text-m;
  color: $text-color;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.actionButton {
  width: 100%;
}
