@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@font-face {
  font-family: 'Manrope';
  src:
    url('../fonts/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/Manrope-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src:
    url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
    url('../fonts/Manrope-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Flex';
  src:
    url('../fonts/RobotoFlex-VariableFont.woff2') format('woff2'),
    url('../fonts/RobotoFlex-VariableFont.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  @include typography-text-m;
}

h1 {
  @include typography-h1;
}

h2 {
  @include typography-h2;
}

h3 {
  @include typography-h3;
}

h4 {
  @include typography-h4;
  font-family: $font-family-body;
}

dd,
dt {
  @include typography-text-m;
}

button {
  @include typography-text-m-semibold;
}
