.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px 80px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabContent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.styledBody {
  background-color: $c-neutral-50;
}
