.root {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: $accent-primary-color;
}

.paw {
  width: 22px;
  height: 20px;
  display: block;
  opacity: 0.35;

  &_filled {
    opacity: 1;
  }
}
