$text-color: #272727;
$accent-primary-color: #396448;
$accent-secondary-color: #ab8264;
$background-primary-color: #f9f4f0;
$background-secondary-color: #efe9e3;
$background-tertiary-color: #ffffff;
$accent-hover-color: #56986e;
