.root {
  max-width: 996px;
  @media (max-width: 996px) {
    padding: 0 32px;
  }

  .title {
    margin-bottom: 40px;
    text-align: center;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .item {
    background-color: $background-tertiary-color;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    height: 250px;
    padding: 20px;
    border-radius: 16px;
  }

  .itemContent {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .itemImage {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 160px;
    height: 160px;

    @media (max-width: 576px) {
      width: 100px;
      height: 100px;
    }
  }
}
