.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: end;
  justify-content: center;
}

.filters {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.typeSelect {
  flex: 1;
}

.statusSelect {
  flex: 1;
}

.createBtn {
  flex: 1;
  margin-left: auto;
  max-width: 200px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.emptyState {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  color: $c-neutral-500;
  @include typography-text-m;
}

@media (max-width: 965px) {
  .filters {
    width: 100%;

    .typeSelect {
      flex: 1;
    }

    .statusSelect {
      flex: 1;
    }
  }

  .createBtn {
    margin-left: 0;
    max-width: none;
  }
}

@media (max-width: 500px) {
  .filters {
    flex-direction: column;
    align-items: stretch;

    .typeSelect {
      width: 100%;
    }

    .statusSelect {
      width: 100%;
    }
  }
}
