.root {
  padding: 64px 32px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
  }

  .title {
    margin-bottom: 20px;
    text-align: center;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .tabs {
    margin-bottom: 40px;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 16px;
    width: 100%;
    margin-bottom: 40px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, auto);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, auto);
      gap: 8px;

      & > *:nth-child(n + 5) {
        display: none;
      }
    }
  }

  .image {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 16px;

    @media (max-width: 1200px) {
      grid-column: 1 / 3;
      grid-row: 1 / 4;
    }

    @media (max-width: 768px) {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .placeholder {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
    min-height: 100%;
    border-radius: 16px;
    background-color: $accent-secondary-color;
  }
}
